.search {
  margin: 1rem;
  direction: rtl;

  > input {
    width: 100%;
    outline: 0;
    border: 0;
    box-shadow: 1px 1px 5px rgb(193, 193, 242);
    padding: 0.5rem;

    
  }


  &__box {
    width: 100%;
    padding: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    background-color: #fff;
    color: #000;
    max-height: 200px;
    overflow-y: scroll;
  }

  &__item{
   
    &:hover{
        background-color: aquamarine;
        color : #000;
        cursor: pointer;
    }

    &:active{
        background-color: green;
        color : #fff;
    }

  }

}
