$background :  #F1F8E8;
$header : #95D2B3;
$sidebar :  #D8EFD3;
$item :  #F1F8E8;
$footer : #55AD9B;
$denger : rgb(217, 131, 131);
$spinner : #7290ff;

$text : rgba(0, 0, 0, .56);
$title : rgba(0, 0, 0, .87);
$border : rgba(0, 0, 0, 0.1);

$color-btn : #fff;
