html,body {
    behavior: "smooth";
    min-height: 100vh;
}
.card{
    border: 1px solid aqua;
    background-color: #eee;
    color : #000;
    padding: 1rem;
    margin-top: 1rem;
    text-align: right;
}

