.profile{
    width: 20%;
    height: 100%;
    height: auto;
    border-radius: 50%;
    background-image: url('./icons/avatar.png');
    background-position: center;
    background-size: cover;
    position: relative;
    transition: all .3s;

    &__ratio{
        position: relative;
        padding-top: 100%;
    }

    &__input{
        opacity: 0;
        width: 100%;
        height: 100%;
        position: absolute;
        top : 0;
        left: 0;
        cursor: pointer;
    }
}