@import '../../../public/sass/colorpullet';

.page{
    background-color: $sidebar;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    &__box{
        background-color: $header;
        border-radius: 4px;
        width: 100%;
        padding: 2rem;
        display: flex;
        flex-direction: column;
        direction: rtl;

        @media (min-width: 768px) {
            width: 50%;
        }
    }

    &__btn{
        background-color: $footer;
        color : $color-btn;
        padding: .5rem 1rem;
        border-radius: 4px;
        text-align: center;
        border: none;
        font-size: large;


        @media (min-width: 1024px) {
            margin: 0 auto;
        }
    }

    &__input{
        width: 100%;
        height: 40px;
        border-radius: 4px;
        outline: none;
        border: none;
        background-color: $item;
        margin : 1rem 0;
    }
}