$color : orange;
.header {
    background-color: $color;
    color : #fff;
    text-align: center;
    position: sticky;
    top : 0;
    z-index: 1;

    &__search{
        width: 25%;
        // max-height: 30px;
    }
}