@import "../../../public/sass/colorpullet.scss";

.header {
    background-color: $header;
    text-align: center;
    position: sticky;
    top : 0;
    z-index: 1;

    &__search{
        width: 25%;
    }
}