@import "../public/sass/colorpullet.scss";

.app {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  color: $text;
  background: $background;
}

.wrapper{
  margin: 0 1rem;
}

.scale{
  display: flex;
  justify-content: space-between;
}

.mybtn {
  padding: 0.5rem 1rem;
  border-radius: 4px;
  text-align: center;
  border: none;
  font-size: medium;
  cursor: pointer;
  text-decoration: none;
  color: $color-btn;

  &__sucsess {
    background-color: $footer;
  }
  &__delete {
    background-color: $delete;
  }
  &__denger {
    background-color: $denger;
  }
  &__logo {
    background-color: $background;
    color: $text;
  }
}
