@import "../public/sass/colorpullet.scss";

.app{
  display: flex;
  flex-direction: column;
  flex : 1 1 auto;
  color : $text;
  background: $background;
}

.mybtn{
  padding: .5rem 1rem;
  border-radius: 4px;
  text-align: center;
  border: none;
  font-size: medium;
  cursor: pointer;
  text-decoration: none;

  &__sucsess{
    background-color: $footer;
    color : $color-btn;
  
  }
  &__denger{
    background-color: $denger;
    color : $color-btn;
 
  }
  &__logo{
    background-color: $background;
    color : $text;
  }
}



