html {
  font-size: 100%;
}

html,body {
  padding: 0;
  margin : 0;
  outline : none;
  border: none;
}

body {
  font-family: "Vazir" ,serif , "sans-serif";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*{
  box-sizing: border-box;
}



code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
