*{
  box-sizing: border-box;
    font-family: "Vazir" ,serif , "sans-serif";

}

html {
  font-size: 100%;
}


body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}



html,body {
  padding: 0;
  margin : 0;
  outline : none;
  border: none;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
